.Coaching{
    margin: 50px 50px;
}

.coaching_header{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.coachingCards{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

