.Coaching {
	margin: 50px 50px;
}

.flex-header {
	display: flex;
	justify-content: flex-end;
}

.coaching_header {
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
}

.coachingCards {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
}

.coachbtn {
    font-size: 20px;
	padding: 7px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
	background-color: #ffa24b;
    color: #fff;
}

.coachbtn:hover {
    color: #fff;
    background-color: #F89230;
    transition: all 0.2s ease-out;
  }

.searchCoach input {
    padding: 8px 24px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid black;
    float: left;
}